@model IEnumerable<Store.Models.Category>

@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <h3> Välj kategori
  </h3>
   
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> Kategorier</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
        <tr>

            <td> @Html.ActionLink(category.CategoryName, "Browse", new { category = category.CategoryName })</td> 
        </tr>
        }
    </tbody>
</table>

</p>

